.contact-section {
  display: flex;
   margin: 0 auto;
  padding: 140px 40px 100px;
 
}

.form-wrapper {
  width: 50%;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, textarea {
  width: 100%;
  padding: 20px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

textarea {
  min-height: 150px;
}

button {
  align-self: flex-end;
  padding: 14px 30px;
  border: none;
  background: #C9A66B;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #D4AF37;
}
